* {
  box-sizing: border-box;
}

.AppShell {
  display: grid;
  place-items:center;
}

.GridUI {
  background-color: white;

  display: grid;
  grid: auto-flow / repeat(9, 1fr);
}

.GridCell{
  background-color: grey;
  border: solid 1px black;
}
