* {
  box-sizing: border-box;
}

.AppShell {
  display: grid;
  place-items:center;

  min-height: 100vh;
}

.GridUI {
  background-color: white;

  display: grid;
  grid: repeat(var(--rowSize), 1fr) / repeat(var(--columnSize), 1fr);
}

.GridCell{
  background-color: grey;
  border: solid 1px black;
}
